SECRET_KEY=4+84rwpk+5hyia4y2!xogw-gybimk^a*zvao!i4d2xm05*k&q!
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://kycapp_user:B0eLUxIEYfjGSebKV5LtGmflhL73JvkI@dpg-d8fm31e7r5hc73a8r11g-a.singapore-postgres.render.com/kycapp

CLOUDINARY_CLOUD_NAME=dubp5jwpw
CLOUDINARY_API_KEY=392577835666219
CLOUDINARY_API_SECRET=Vs3Z1OUE4LWu1grN8eUPpfNZHTE

# Default accounts for initial deployment.
# These are only used when create_default_users is run with --auto.
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=ChangeMeStrongly
DEFAULT_VERIFIER_USERNAME=verifier
DEFAULT_VERIFIER_EMAIL=verifier@example.com
DEFAULT_VERIFIER_PASSWORD=ChangeMeStrongly